# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.bak

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.GML
*.GTP
*.GBL
*.GBO
*.GBS
*.GTL
*.GTO
*.GTS
*.TXT
*.GBP

*.drd
*.drd.*

*.info

*.eps

bmp.scr

*.DS_Store


# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip
*/output/*
*/release/*
*_autosave*
